/.idea
/assets/dll/*
!/assets/dll/.gitkeep
/assets/node_modules
/assets/package-lock.json
/data/*
!/data/.gitkeep
/public/app
/public/vendor
/tests/temp/*
!/tests/temp/.gitkeep
/vendor
composer.lock
.phpunit.result.cache
/bin/keys.txt
